<%  include partials/header%>
<% include partials/menu%>

<div id="header" class="container-fluid">
	<div class="row">
		<div class="col-lg-3">

			<% if (users) {%>
  			<% users.forEach(function (user){%>
  			<div class="card" style="width:200px">
  				<% if (user.profile.p_pic) {%>
	  			<img class="card-img-top" src="<%= user.profile.p_pic %>" alt="Card image" > 
	  			<%} else {%>
	  			<img class="card-img-top" src="<%='/images/nopic.gif' %>" alt="Card image" >
	  			<%}%>
	  			<div class="card-body">
	    		<h4 class="card-title"><%= user.first_name%></h4>
	    		<class="card-text">
	    		<% if (user.profile.bio) {%>
	    			<%= user.profile.bio%>
	    			<%= user.famerating%>
	    			<%= user.ipapi.city %>
	    			<%= user.profile.gender%>
	    			<%= user.profile.age%>
	    		<%}%>
	    		</p>
	    
	    		<button class="btn btn-primary" onclick="viewprofile('<%=user._id%>','<%=user.first_name%>')">View</button>

	  			</div>
			</div>
  			<%})%>
  			<%}%>
		</div>
		<div class="col-md-3">
		<form method="post" action="/search">
			<div>
				<p>Search By :</p>
			<label>Age</label>
				<select class="form-control" name="age">
					<option>18 - 25</option>
					<option>25 - 35</option>
					<option>35 -> </option>
				</select>
			<br>
			<label>Location : </label>
			<%if (details.gps_lat) {%>
				<select class="form-control" name="location" >
					<option><%= details.ipapi.city %></option>
					<option><%= details.ipapi.region%></option>
					<option><%= details.ipapi.country%></option>
				</select>
			<%} else {%>
			<a href="/profile"><%='input your gps location to you use this feature' %></a> 
			<%} %>
			<label for="interests"> Interests : (e.g #matcha #javascript #love...)</label>
      <% if (details.profile.interests) {%>
  
    <textarea name="interests" id="interests" class="form-control" placeholder="what are your interests? preceed each with '#' e.g #matcha"><% details.profile.interests.forEach(function (inters){ if (inters.length > 1) {%><%= '#'+inters+' ' %><%}})%></textarea>

  <%} else {%>
      <textarea name="interests" id="interests" class="form-control" placeholder="what are your interests? preceed each with '#' e.g #matcha"><%='' %></textarea>
  <%}%>
			<br>
			<label>fame rating (greater than or equals):</label>
				<input class="form-control" type="number" name="famerating" min="1" value="1">
			</div>
			<br>
			<button type="submit" class="form-control"  name="sumbit">Search </button>
		</form>	
		</div>


		<div class="col-md-3">
		<form method="post" action="/filter">
			<div>
				<p>Filter By :</p>
			<label>Age</label>
				<select class="form-control" name="age">
					<option value="">Select Age Group</option>
					<option>18 - 25</option>
					<option>25 - 35</option>
					<option>35 -> </option>
				</select>
			<br>
			<label>Location : </label>
			<% if (users) {%>
			<% var locations = [];%>
			<% var tags = [];%>
				<select class="form-control" name="location" >
					<option value="">Select location</option>
				<% users.forEach((user)=>{%>
						<% if (!locations.includes(user.ipapi.city)) {%>
						<% locations.push(user.ipapi.city);%>
						<%}%>
						<% user.profile.interests.forEach((interest)=>{%>
							<% if (!tags.includes(interest)) {%>
							<% tags.push(interest)%>
							<%}%>
						<%});%>
				<% });%>
				<% locations.forEach((loc)=>{%>	
						<option><%= loc %></option>
						<%});%>
				</select>
			
			<label for="interests"> Interests : (e.g #matcha #javascript #love...)</label>

      <% if (tags) {%>
  
    <textarea name="interests" class="form-control" placeholder="what are your interests? preceed each with '#' e.g #matcha"><% tags.forEach(function (tag){ if (tag.length > 1) {%><%= '#'+tag+' ' %><%}});%></textarea>

  <%} else {%>
      <textarea name="interests" id="interests" class="form-control" placeholder="common tags '#' e.g #matcha"><%='' %></textarea>
 		 <%}%>
  <% }%>
			<br>
			<label>fame rating (greater than or equals):</label>
				<input class="form-control" type="number" name="famerating" min="1" value="1">
			</div>
			<br>
			<button type="submit" class="form-control"  name="sumbit">Filter</button>
		</form>	
		</div>

		<div class="col-md-3">
			<div class="col-md-12">
		<form method="post" action="/sort">
			<div>
				<p>Sort By :</p>
				<input type="radio" class="form-check-input" name="optradio" value="age" checked>Age
				<label><small><i>ascending</i></small></label>

			<br>
			<input type="radio" class="form-check-input" name="optradio" value="location">Location
			<label><small><i>closest</i></small></label>
			<% if (users) {%>
			<% var tags = [];%>
		
				<% users.forEach((user)=>{%>
						<% user.profile.interests.forEach((interest)=>{%>
							<% if (!tags.includes(interest)) {%>
							<% tags.push(interest)%>
							<%}%>
						<%});%>
				<% });%>
				<br>
			<input type="radio" class="form-check-input" name="optradio" value="tags">Tags
			<label><small><i>prioritize</i></small></label>

      <% if (tags) {%>
  
    <textarea name="interests" class="form-control" placeholder="what are your interests? preceed each with '#' e.g #matcha"><% tags.forEach(function (tag){ if (tag.length > 1) {%><%= '#'+tag+' ' %><%}});%></textarea>

  <%} else {%>
      <textarea name="interests" id="interests" class="form-control" placeholder="common tags '#' e.g #matcha"><%='' %></textarea>
 		 <%}%>
  <% }%>
			<br>
			<input type="radio" class="form-check-input" name="optradio" value="famerating">Fame Rating <br>
			<label><small><i>descending</i></small></label>
			
			</div>
			<br>
			<button type="submit" class="form-control"  name="sumbit">Sort</button>
		</form>	
	</div>
		</div>

	</div>
</div>

<% include partials/footer %>
<script type="text/javascript" src="/js/browse.js"></script>